#hud {
  width: 600px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.health-bar {
  width: 200px;
  height: 20px;
  background-color: #aaa;
  border: 1px solid #333;
  margin: 0 10px;
  position: relative;
}

.health-bar .fill {
  height: 100%;
  background-color: green;
  width: 100%;
}

#player {
  width: 64px;
  height: 64px;
  background-image: url('images/gladiatore_sprite.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  bottom: 0;
  left: 100px;
}

#enemy {
  left: 350px;
}

